<div class="section">

  <h1 class="main-heading">
    Shipping <span>Policy.</span>
  </h1>

  <p>
    Thank you for visiting and shopping at our website.
    <br>
    Following are the terms and conditions that constitute our
    <br>
  </p>

  <p>
    <span>Domestic Shipping Policy</span>
    Shipment processing time
    All orders are processed within 3-7business days. Orders are not shipped or delivered on weekends or holidays.
  </p>

  <p>

    If we are experiencing a high volume of orders, shipments may be delayed by a few days. Please allow additional days
    in transit for delivery. If there will be a significant delay in shipment of your order, we will contact you via
    email or telephone.
  </p>


  <p>

    If there are any further queries with your shipment you can email us at :
    <span>
      support@indahbody.africa
    </span>
  </p>

</div>


